.aboutpage-container {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.aboutpage-wrapper {
    max-width: 1100px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.aboutpage-img-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aboutpage-img {
    width: 100%;
    max-width: 420px;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.aboutpage-info {
    flex: 1.2;
}

.aboutpage-title {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #111;
}

.aboutpage-text {
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #333;
}

.highlight {
    color: #ff5f2e;
    font-weight: 700;
}


@media (max-widh: 900px) {
    .aboutpage-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .aboutpage-img {
        max-width: 360px;
    }
}

@media (max-widtch: 600px) {
    .aboutpage-title {
        font-size: 2.2rem;
    }

    .aboutpage-text {
        font-size: 1rem;
    }

    .aboutpage-img {
        max-width: 300px;
    }
}