.aboutpage-container {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.aboutpage-wrapper {
    max-width: 1100px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.aboutpage-img-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aboutpage-img {
    width: 100%;
    max-width: 420px;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.aboutpage-info {
    flex: 1.2;
}

.aboutpage-title {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #111;
}

.aboutpage-text {
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #333;
}

.highlight {
    color: #ff5f2e;
    font-weight: 700;
}


@media (max-widh: 900px) {
    .aboutpage-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .aboutpage-img {
        max-width: 360px;
    }
}



/* ------ MOBILE: Imagen como fondo + texto encima ------ */
@media (max-width: 600px) {
    .aboutpage-wrapper {
        position: relative;
        background-image: url('/assets/images/creatina.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 20px;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: #fff;
    }

    /* Ocultamos la imagen del lado */
    .aboutpage-img-box,
    .aboutpage-img {
        display: none;
    }

    .aboutpage-info {
        background: rgba(253, 251, 251, 0.45);
        padding: 20px;
        border-radius: 12px;
        backdrop-filter: blur(2px);
    }

    .aboutpage-title {
        margin-bottom: 15px;
        font-size: 1.8rem;
    }

    .aboutpage-text {
        margin-bottom: 12px;
        line-height: 1.5;
        font-size: 0.95rem;
    }
}